#main {
  width:80%;
  text-align:center;
  margin:auto;
}
table#locations {
  width:95%;
  text-align:center;
  margin:10px;
  border-spacing:5px;
  border-collapse: collapse;
}

table#locations thead {
  display:none;
}

table#locations tbody {
  margin-top:10px;
}

table#locations thead tr th { margin-bottom:10px;}

#location-template {
  display:none;
}

#informations {
  margin:10px;
}

input[type=text] {
  border:none;
  background-color:#CBE0CA;
  text-align:center;
  padding:1px;
}

.awesome {
  color:#E8E8E8;
}

div.info-content {
  color: black;
}

h1, h2, h3, h4, h5 { font-weight: normal; text-transform: uppercase; }
h1 { font-family: "InsolentRegular", Arial, sans-serif; text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871; }
h1 { font-size: 6em; line-height: 1.5; text-align: center; cursor: default; }
h1:hover { color: #D9D20B; }

body { background: #2A2E22; color: #EDEBD3; text-align: center; font: 300 12px/18px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif; }
a, a:visited { color: #e3d7bf; text-decoration: none; }

::-moz-selection{ background: #B0C23E; color:#fff; text-shadow: none; }
::selection { background: #B0C23E; color:#fff; text-shadow: none; }
